node_modules
README.html
npm-debug.log
/local-*
/.vscode
/typings
/coverage
/.vscode
/.nyc_output
/sample/es.json
/sample/de.json
/sample/fr.json
/sample/it.json
/sample/ja.json
/sample/ko.json
/sample/pt-BR.json
/sample/zh-Hans.json
/sample/zh-Hant.json
